<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="co.addoil.sunshine"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="co.addoil.sunshine.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="co.addoil.sunshine.DetailActivity"
            android:label="@string/title_activity_detail"
            android:parentActivityName="co.addoil.sunshine.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="co.addoil.sunshine.MainActivity"/>
        </activity>
        <activity
            android:name="co.addoil.sunshine.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="co.addoil.sunshine.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="co.addoil.sunshine.MainActivity"/>
        </activity>

        <provider
            android:name=".data.WeatherProvider"
            android:authorities="co.addoil.sunshine.app"/>
    </application>

</manifest>
